.cartao {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
}
.cartao__side {
  background-color: white;
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.cartao__side--front {
  background-image: url(imgs/71jLBXtWJWL.jpg);
  background-size: cover;
}
.cartao__side--back {
  transform: rotateY(180deg);
  background-image: url(imgs/realistic-golden-frame-design_52683-81073.avif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartao__side--back p {
  color: white;
  margin: 0 90px;
}
.cartao:hover .cartao__side--front {
  transform: rotateY(-180deg);
}
.cartao:hover .cartao__side--back {
  transform: rotateY(0);
}
